@charset "UTF-8";

.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}

.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs30 {
  font-size: 30px;
}

.c000 {
  color: #000;
}
.c333 {
  color: #333;
}
.c666 {
  color: #666;
}
.c999 {
  color: #999;
}
.cfff {
  color: #fff;
}
