@charset "UTF-8";

.song-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100%;
}

.song-panel {
  flex: 0 0 270px;
  text-align: center;
}

.song-info {
  flex: 0 0 300px;
}

.song-panel-title {
  line-height: 30px;
  color: #333;
}

.song-panel-title > h3 {
  display: inline-block;
  font-size: 18px;
  margin-right: 5px;
}

.song-panel-title > small {
  font-size: 14px;
}

.song-panel-thumbnail > img {
  display: inline-block;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  margin: 15px auto;
}

.song-panel-play > div {
  display: inline-block;
}
