@charset "UTF-8";

.sound-control {
  position: relative;
  text-align: center;
  padding: 0 5px;
  box-sizing: border-box;
  font-family: H5Music;
  cursor: pointer;
}

.sound-control:after {
  content: "\f258";
}

.sound-popup {
  position: absolute;
  width: 100%;
  height: 140px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .15);
  transition: opacity .25s linear;
}

.sound-popup-inner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px auto 0;
  width: 3px;
  height: 100px;
}
