@charset "UTF-8";

.lyric-group {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  font-size: 14px;
}

.lyric-group .lyric-group-inner {
   flex: 1;
   position: relative;
}

.lyric-group-inner .lyric-group-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.lyric-group-inner .play-progress-timeline {
  flex: 1;
}
