@charset "UTF-8";

.player-progress {
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-start;
  align-items: center;
  width: 465px;
  height: 18px;
}

.player-progress-sidebar {
  position: relative;
  flex-basis: 400px;
  height: 5px;
  background: #777;
}

.player-progress-regulator {
  position: absolute;
  left: 0;
  top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  background: #fff;
}

.player-progress-time {
  flex: 1;
  text-align: right;
}
